{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=xx;AccountKey=xx",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "Search.IndexName": "",
    "Search.AppId": "",
    "Search.ApiKey": "",
    "Azure.StorageKey": "",
    "Azure.StorageAccountName": "kcddev",
    "Search.IndexName.Test": "",
    "Search.AppId.Test": ""
  }
}
